<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy Now</title>
</head>
<body>
  <div>
    <ul class="nav nav-pills">
        <% for(var i=0;i<nav.length;i++) { %>
           <li class="nav-item">
             <a class="nav-link active" href="<%= nav[i].link %>"><%= nav[i].title %></a>
           </li>
       <% } %>
       <br>
          </div>
          


              <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="<%= ele.pic %>" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><%= ele.name %></h5>
                          <p class="card-text">Price:<%= ele.price %> <br> Description: <%= ele.des %></p>
                          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  
    
</body>
</html>